<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Armature_LeftNewAnimation_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_LeftNewAnimation_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{153,1},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_LeftNewAnimation_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{305,1},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_LeftNewAnimation_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,103},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_LeftNewAnimation_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{153,103},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_LeftNewAnimation_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{305,103},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_LeftNewAnimation_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,205},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_LeftNewAnimation_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{153,205},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_LeftNewAnimation_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{305,205},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_LeftNewAnimation_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,307},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_LeftNewAnimation_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{153,307},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_LeftNewAnimation_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{305,307},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_RightNewAnimation_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,409},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_RightNewAnimation_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{153,409},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_RightNewAnimation_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{305,409},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_RightNewAnimation_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,511},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_RightNewAnimation_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{153,511},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_RightNewAnimation_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{305,511},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_RightNewAnimation_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,613},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_RightNewAnimation_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{153,613},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_RightNewAnimation_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{305,613},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_RightNewAnimation_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{1,715},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_RightNewAnimation_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{153,715},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Armature_RightNewAnimation_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,150}</string>
                <key>spriteSourceSize</key>
                <string>{100,150}</string>
                <key>textureRect</key>
                <string>{{305,715},{100,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>panda_boy.png</string>
            <key>size</key>
            <string>{456,816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8620e930e9fc2241ed35570f0e463a39:24e489595289cf821353cad5d3368509:fd543343e316cbb41d01602e3e36101a$</string>
            <key>textureFileName</key>
            <string>panda_boy.png</string>
        </dict>
    </dict>
</plist>
