<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SitDown_back_left/SitDown_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-20}</string>
                <key>spriteSize</key>
                <string>{62,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{1,801},{62,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SitDown_back_right/SitDown_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-20}</string>
                <key>spriteSize</key>
                <string>{62,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{1,893},{62,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SitDown_front_left/SitDown_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{62,88}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{1,985},{62,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SitDown_front_right/SitDown_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{62,88}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{1,1075},{62,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_back_left/walk_back01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-25}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_back_left/walk_back02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-25}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{1,103},{62,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_back_right/walk_back01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-25}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{1,205},{62,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_back_right/walk_back02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-25}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{1,307},{62,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_front_left/LF01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-27}</string>
                <key>spriteSize</key>
                <string>{62,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{1,409},{62,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_front_left/LF02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-27}</string>
                <key>spriteSize</key>
                <string>{62,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{1,507},{62,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_front_right/RF01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{62,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{1,605},{62,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_front_right/RF02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{62,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{1,703},{62,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guest02.png</string>
            <key>size</key>
            <string>{64,1164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d7eaf0f8ba84508de0634bb394d7310:f2f2e781ecec6013339464fe00c7ff2f:8f2d552c5b5018f29349bdf8d42aa08d$</string>
            <key>textureFileName</key>
            <string>guest02.png</string>
        </dict>
    </dict>
</plist>
