<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{201,205},{96,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{403,99},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{100,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{299,189},{100,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottomleft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottomleft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{403,1},{96,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bottomright1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{98,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{1,205},{98,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottomright2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{103,103},{100,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{94,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{203,103},{94,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{84,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{399,279},{84,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{92,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{301,95},{92,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{84,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{401,193},{84,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>top1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{301,1},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{98,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{299,277},{98,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topleft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{1,103},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topleft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{98,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{101,205},{98,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topright1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{98,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{103,1},{98,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topright2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{203,1},{96,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RedPacman.png</string>
            <key>size</key>
            <string>{502,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfe8d87ded39353866dc03bfe9c9ac8a:bc15ab6c3e503cb50e3890f782e81e58:c94f22ef25c138636af6ff16764f3974$</string>
            <key>textureFileName</key>
            <string>YellowPacman.png</string>
        </dict>
    </dict>
</plist>
