<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Blackboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1920}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1920}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,1920}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueAvatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{237,237}</string>
                <key>spriteSourceSize</key>
                <string>{251,255}</string>
                <key>textureRect</key>
                <string>{{1027,1148},{237,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuestionMark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{97,181}</string>
                <key>spriteSourceSize</key>
                <string>{251,255}</string>
                <key>textureRect</key>
                <string>{{1267,909},{97,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RedAvatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{237,238}</string>
                <key>spriteSourceSize</key>
                <string>{247,254}</string>
                <key>textureRect</key>
                <string>{{1027,909},{237,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>botton1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-460,-234}</string>
                <key>spriteSize</key>
                <string>{104,220}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1920}</string>
                <key>textureRect</key>
                <string>{{1267,1008},{104,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botton2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-460,-234}</string>
                <key>spriteSize</key>
                <string>{104,220}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1920}</string>
                <key>textureRect</key>
                <string>{{1266,1230},{104,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matching.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{147,-505}</string>
                <key>spriteSize</key>
                <string>{428,498}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1920}</string>
                <key>textureRect</key>
                <string>{{1027,1},{428,498}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,-4}</string>
                <key>spriteSize</key>
                <string>{406,408}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1920}</string>
                <key>textureRect</key>
                <string>{{1027,501},{406,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FindingPlayer.png</string>
            <key>size</key>
            <string>{1456,1922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b43fbc4164ecbd408291dec48fb94f41:b3aa7e6f1a7ef90f4049f221ecce418d:778430fb6794cb3cd7cb66fae67ccbb4$</string>
            <key>textureFileName</key>
            <string>FindingPlayer.png</string>
        </dict>
    </dict>
</plist>
