<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1920}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1920}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,1920}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black-board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,298}</string>
                <key>spriteSize</key>
                <string>{852,930}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1920}</string>
                <key>textureRect</key>
                <string>{{1027,1},{852,930}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botton1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-348}</string>
                <key>spriteSize</key>
                <string>{366,108}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1920}</string>
                <key>textureRect</key>
                <string>{{1027,933},{366,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botton2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-348}</string>
                <key>spriteSize</key>
                <string>{366,108}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1920}</string>
                <key>textureRect</key>
                <string>{{1395,933},{366,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rule.png</string>
            <key>size</key>
            <string>{1880,1922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d67d6a41a8936a12cc3af6131600a58c:495c6e4f581b4576aa771c4af4120ead:2cc0c5d2c17c9b5dfb7508756da7e784$</string>
            <key>textureFileName</key>
            <string>rule.png</string>
        </dict>
    </dict>
</plist>
