<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,960}</string>
                <key>spriteSourceSize</key>
                <string>{641,960}</string>
                <key>textureRect</key>
                <string>{{537,1006},{641,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matchpage_VS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,134}</string>
                <key>spriteSourceSize</key>
                <string>{118,134}</string>
                <key>textureRect</key>
                <string>{{419,119},{118,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matchpage_backtohome.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,73}</string>
                <key>spriteSourceSize</key>
                <string>{78,73}</string>
                <key>textureRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matchpage_pacman_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,155}</string>
                <key>spriteSourceSize</key>
                <string>{607,155}</string>
                <key>textureRect</key>
                <string>{{0,274},{607,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matchpage_pacman_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,155}</string>
                <key>spriteSourceSize</key>
                <string>{607,155}</string>
                <key>textureRect</key>
                <string>{{1144,119},{607,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matchpage_playerblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,200}</string>
                <key>spriteSourceSize</key>
                <string>{344,200}</string>
                <key>textureRect</key>
                <string>{{0,463},{344,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matchpage_playerred.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,210}</string>
                <key>spriteSourceSize</key>
                <string>{344,210}</string>
                <key>textureRect</key>
                <string>{{344,463},{344,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resultpage_background_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,960}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{1178,1006},{640,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resultpage_button_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,119}</string>
                <key>spriteSourceSize</key>
                <string>{209,119}</string>
                <key>textureRect</key>
                <string>{{210,119},{209,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resultpage_button_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,119}</string>
                <key>spriteSourceSize</key>
                <string>{210,119}</string>
                <key>textureRect</key>
                <string>{{1717,0},{210,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resultpage_leaderboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,543}</string>
                <key>spriteSourceSize</key>
                <string>{573,543}</string>
                <key>textureRect</key>
                <string>{{1054,463},{573,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resultpage_medal1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,86}</string>
                <key>spriteSourceSize</key>
                <string>{413,86}</string>
                <key>textureRect</key>
                <string>{{1304,0},{413,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resultpage_medal2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,85}</string>
                <key>spriteSourceSize</key>
                <string>{413,85}</string>
                <key>textureRect</key>
                <string>{{891,0},{413,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resultpage_medal3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,84}</string>
                <key>spriteSourceSize</key>
                <string>{412,84}</string>
                <key>textureRect</key>
                <string>{{479,0},{412,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resultpage_medal4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,78}</string>
                <key>spriteSourceSize</key>
                <string>{401,78}</string>
                <key>textureRect</key>
                <string>{{78,0},{401,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rulepage_Pacman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{676,189}</string>
                <key>spriteSourceSize</key>
                <string>{676,189}</string>
                <key>textureRect</key>
                <string>{{1031,274},{676,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rulepage_bulletinboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,793}</string>
                <key>spriteSourceSize</key>
                <string>{537,793}</string>
                <key>textureRect</key>
                <string>{{0,1006},{537,793}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rulepage_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,119}</string>
                <key>spriteSourceSize</key>
                <string>{210,119}</string>
                <key>textureRect</key>
                <string>{{0,119},{210,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scorepage_playerblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{301,141}</string>
                <key>spriteSourceSize</key>
                <string>{303,141}</string>
                <key>textureRect</key>
                <string>{{537,119},{301,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scorepage_playerred.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,141}</string>
                <key>spriteSourceSize</key>
                <string>{306,141}</string>
                <key>textureRect</key>
                <string>{{838,119},{306,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>welcomepage_pacman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,513}</string>
                <key>spriteSourceSize</key>
                <string>{366,513}</string>
                <key>textureRect</key>
                <string>{{688,463},{366,513}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>welcompage_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,168}</string>
                <key>spriteSourceSize</key>
                <string>{424,168}</string>
                <key>textureRect</key>
                <string>{{607,274},{424,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GUIElement_0.png</string>
            <key>size</key>
            <string>{1927,1966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b3a300c865eb6d081c1f870c3270eba:079ba214150f60ee3bcbb74a9c595f95:982af95c8b9f81e6342651b194c8fa21$</string>
            <key>textureFileName</key>
            <string>GUIElement_0.png</string>
        </dict>
    </dict>
</plist>
