<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BaseBoard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-50}</string>
                <key>spriteSize</key>
                <string>{232,44}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{257,1},{232,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,96}</string>
                <key>spriteSize</key>
                <string>{254,258}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WhiteStars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,63}</string>
                <key>spriteSize</key>
                <string>{268,112}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{1,261},{268,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3Seconds Countdown.png</string>
            <key>size</key>
            <string>{302,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f1af54717e6ca118f83e81c63e1b453:47352bb91117364675f7ecf325c9594c:d238abac76c60d67ded7918697ca937f$</string>
            <key>textureFileName</key>
            <string>3Seconds Countdown.png</string>
        </dict>
    </dict>
</plist>
