<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botton1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-110,-397}</string>
                <key>spriteSize</key>
                <string>{158,48}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botton2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-110,-397}</string>
                <key>spriteSize</key>
                <string>{158,48}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{161,1},{158,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bottom.png</string>
            <key>size</key>
            <string>{320,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:031458711cd63393201de0fa86e507b5:42d75f4f889374ae190b2435f4926c14:d1ec15999a6b2447a01b153cbcd4ff08$</string>
            <key>textureFileName</key>
            <string>Bottom.png</string>
        </dict>
    </dict>
</plist>
