<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FindingPlayer_PlayerLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,200}</string>
                <key>spriteSourceSize</key>
                <string>{344,200}</string>
                <key>textureRect</key>
                <string>{{647,1669},{344,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameRule_Blackboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,793}</string>
                <key>spriteSourceSize</key>
                <string>{644,793}</string>
                <key>textureRect</key>
                <string>{{1,1027},{644,793}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_Blackboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1920}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1920}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,1920}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InGame_ResultPanel_Background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,272}</string>
                <key>spriteSourceSize</key>
                <string>{287,272}</string>
                <key>textureRect</key>
                <string>{{1609,1602},{287,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Login_Background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,960}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{647,1027},{640,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ResultPanel_Bg1v1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,356}</string>
                <key>spriteSourceSize</key>
                <string>{573,356}</string>
                <key>textureRect</key>
                <string>{{1609,1027},{573,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GuiElements_1.png</string>
            <key>size</key>
            <string>{1966,1875}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9357aa0724c16ee5410aaa3cfb792032:db6f9da3951835bfec427bcef3d23166:c414829fdba7464f4f1ffc7cf387c5fc$</string>
            <key>textureFileName</key>
            <string>GuiElements_1.png</string>
        </dict>
    </dict>
</plist>
