<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameRule_Blackboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,790}</string>
                <key>spriteSourceSize</key>
                <string>{539,790}</string>
                <key>textureRect</key>
                <string>{{1028,1},{539,790}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InGame_ResultPanel_Background_Black01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1025,1921}</string>
                <key>spriteSourceSize</key>
                <string>{1025,1921}</string>
                <key>textureRect</key>
                <string>{{1,1},{1025,1921}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_StatusBar_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,141}</string>
                <key>spriteSourceSize</key>
                <string>{306,141}</string>
                <key>textureRect</key>
                <string>{{1670,542},{306,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login_Background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,960}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{1028,542},{640,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Players_Avatar1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1670,850},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Players_Avatar2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1670,992},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ResultPanel_Bg1v1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,356}</string>
                <key>spriteSourceSize</key>
                <string>{573,356}</string>
                <key>textureRect</key>
                <string>{{1028,1504},{573,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GuiElements_1.png</string>
            <key>size</key>
            <string>{1819,1923}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3038c3e3e48e6706965b38dbbc7d9772:9430aad52d18968bcd550b2b91c8e24d:c414829fdba7464f4f1ffc7cf387c5fc$</string>
            <key>textureFileName</key>
            <string>GuiElements_1.png</string>
        </dict>
    </dict>
</plist>
