<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FindingPlayer_PlayerLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,200}</string>
                <key>spriteSourceSize</key>
                <string>{344,200}</string>
                <key>textureRect</key>
                <string>{{1754,1403},{344,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameRule_Blackboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{643,793}</string>
                <key>spriteSourceSize</key>
                <string>{643,793}</string>
                <key>textureRect</key>
                <string>{{1028,643},{643,793}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InGame_ResultPanel_Background_Black01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1025,1921}</string>
                <key>spriteSourceSize</key>
                <string>{1025,1921}</string>
                <key>textureRect</key>
                <string>{{1,1},{1025,1921}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_StatusBar_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,141}</string>
                <key>spriteSourceSize</key>
                <string>{306,141}</string>
                <key>textureRect</key>
                <string>{{1823,953},{306,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login_Background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,960}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{1028,1},{640,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login_Pacman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,513}</string>
                <key>spriteSourceSize</key>
                <string>{366,513}</string>
                <key>textureRect</key>
                <string>{{1386,1288},{366,513}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Players_Avatar1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1823,1261},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Players_Avatar2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1754,1749},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PopupBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,153}</string>
                <key>spriteSourceSize</key>
                <string>{308,153}</string>
                <key>textureRect</key>
                <string>{{1823,643},{308,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ResultPanel_Bg1v1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,356}</string>
                <key>spriteSourceSize</key>
                <string>{573,356}</string>
                <key>textureRect</key>
                <string>{{1028,1288},{573,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GuiElements_1.png</string>
            <key>size</key>
            <string>{1989,1923}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a8fcd13007286f177aeb90f69b3f3d8:dd468d4c804de2bb9c1f7949a3f85387:c414829fdba7464f4f1ffc7cf387c5fc$</string>
            <key>textureFileName</key>
            <string>GuiElements_1.png</string>
        </dict>
    </dict>
</plist>
