<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButtonActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,44}</string>
                <key>spriteSourceSize</key>
                <string>{94,44}</string>
                <key>textureRect</key>
                <string>{{1697,1960},{94,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonNegative.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,40}</string>
                <key>spriteSourceSize</key>
                <string>{90,40}</string>
                <key>textureRect</key>
                <string>{{1798,1916},{90,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FindingPlayer_DecorationDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,155}</string>
                <key>spriteSourceSize</key>
                <string>{608,155}</string>
                <key>textureRect</key>
                <string>{{1028,1627},{608,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FindingPlayer_DecorationUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,155}</string>
                <key>spriteSourceSize</key>
                <string>{606,155}</string>
                <key>textureRect</key>
                <string>{{1780,347},{606,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FindingPlayer_PlayerRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,210}</string>
                <key>spriteSourceSize</key>
                <string>{344,210}</string>
                <key>textureRect</key>
                <string>{{1780,1},{344,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FindingPlayer_vs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,134}</string>
                <key>spriteSourceSize</key>
                <string>{118,134}</string>
                <key>textureRect</key>
                <string>{{1454,1916},{118,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameRule_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,119}</string>
                <key>spriteSourceSize</key>
                <string>{210,119}</string>
                <key>textureRect</key>
                <string>{{1780,1500},{210,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameRule_Decoration.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,169}</string>
                <key>spriteSourceSize</key>
                <string>{543,169}</string>
                <key>textureRect</key>
                <string>{{1780,955},{543,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InGame_Background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1025,1921}</string>
                <key>spriteSourceSize</key>
                <string>{1025,1921}</string>
                <key>textureRect</key>
                <string>{{1,1},{1025,1921}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_Bullets_bullet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,24}</string>
                <key>spriteSourceSize</key>
                <string>{146,24}</string>
                <key>textureRect</key>
                <string>{{842,1924},{146,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_HighScoreTreasure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{1937,857},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_InfoBG.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,23}</string>
                <key>spriteSize</key>
                <string>{424,72}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{416,1924},{424,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_Joystick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1937,759},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_LowScoreTreasure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{920,2016},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_ResultPanel_AgainButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,60}</string>
                <key>spriteSourceSize</key>
                <string>{105,60}</string>
                <key>textureRect</key>
                <string>{{1919,1775},{105,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InGame_ResultPanel_Background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,272}</string>
                <key>spriteSourceSize</key>
                <string>{287,272}</string>
                <key>textureRect</key>
                <string>{{1645,1627},{287,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InGame_ResultPanel_HomeButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,60}</string>
                <key>spriteSourceSize</key>
                <string>{105,60}</string>
                <key>textureRect</key>
                <string>{{1590,1960},{105,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGame_StatusBar_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,71}</string>
                <key>spriteSourceSize</key>
                <string>{152,71}</string>
                <key>textureRect</key>
                <string>{{1919,1621},{152,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InGame_Tower2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{130,189}</string>
                <key>spriteSourceSize</key>
                <string>{132,189}</string>
                <key>textureRect</key>
                <string>{{1454,1784},{130,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Login_Logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,168}</string>
                <key>spriteSourceSize</key>
                <string>{424,168}</string>
                <key>textureRect</key>
                <string>{{1028,1784},{424,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Players_Baseball.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{42,46}</string>
                <key>textureRect</key>
                <string>{{1937,809},{42,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Players_arrowTip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,84}</string>
                <key>spriteSourceSize</key>
                <string>{76,84}</string>
                <key>textureRect</key>
                <string>{{842,1950},{76,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ResultPanel_Copper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,42}</string>
                <key>spriteSourceSize</key>
                <string>{206,42}</string>
                <key>textureRect</key>
                <string>{{1590,1916},{206,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ResultPanel_Gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,43}</string>
                <key>spriteSourceSize</key>
                <string>{207,43}</string>
                <key>textureRect</key>
                <string>{{1937,347},{207,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ResultPanel_Iron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,39}</string>
                <key>spriteSourceSize</key>
                <string>{201,39}</string>
                <key>textureRect</key>
                <string>{{1937,556},{201,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ResultPanel_Silver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,85}</string>
                <key>spriteSourceSize</key>
                <string>{413,85}</string>
                <key>textureRect</key>
                <string>{{1,1924},{413,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1624}</string>
                <key>spriteSourceSize</key>
                <string>{750,1624}</string>
                <key>textureRect</key>
                <string>{{1028,1},{750,1624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{920,1950},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GuiElements_0.png</string>
            <key>size</key>
            <string>{1991,2035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a8fcd13007286f177aeb90f69b3f3d8:dd468d4c804de2bb9c1f7949a3f85387:c414829fdba7464f4f1ffc7cf387c5fc$</string>
            <key>textureFileName</key>
            <string>GuiElements_0.png</string>
        </dict>
    </dict>
</plist>
