<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InGame_Blackboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1920}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1920}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,1920}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GuiElements_2.png</string>
            <key>size</key>
            <string>{1026,1922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3038c3e3e48e6706965b38dbbc7d9772:9430aad52d18968bcd550b2b91c8e24d:c414829fdba7464f4f1ffc7cf387c5fc$</string>
            <key>textureFileName</key>
            <string>GuiElements_2.png</string>
        </dict>
    </dict>
</plist>
