<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueAvatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{226,311}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{174,269}</string>
                <key>spriteSize</key>
                <string>{234,76}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{1,87},{234,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RedAvatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-153,281}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{87,1},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RedBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-159,269}</string>
                <key>spriteSize</key>
                <string>{234,74}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{1,165},{234,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pearl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,181}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{173,1},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>StatusBar.png</string>
            <key>size</key>
            <string>{236,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ee9ff5ecd8e7f3b06fc88330862e555:4a9060c85ddf7c1b8cd7ba20046ae167:ca28bf0b21ebb6ddea19672152e556a6$</string>
            <key>textureFileName</key>
            <string>StatusBar.png</string>
        </dict>
    </dict>
</plist>
