<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LeftPandaAtacked01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftPandaAtacked010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{153,1},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftPandaAtacked011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{305,1},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftPandaAtacked012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{1,84},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftPandaAtacked02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{153,84},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftPandaAtacked03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{305,84},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftPandaAtacked04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{1,167},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftPandaAtacked05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{153,167},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftPandaAtacked06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{305,167},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftPandaAtacked07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{1,250},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftPandaAtacked08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{153,250},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LeftPandaAtacked09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{305,250},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RightPandaAtacked01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{1,333},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RightPandaAtacked010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{153,333},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RightPandaAtacked011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{305,333},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RightPandaAtacked012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{1,416},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RightPandaAtacked02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{153,416},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RightPandaAtacked03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{305,416},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RightPandaAtacked04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{1,499},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RightPandaAtacked05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{153,499},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RightPandaAtacked06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{305,499},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RightPandaAtacked07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{1,582},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RightPandaAtacked08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{153,582},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RightPandaAtacked09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,150}</string>
                <key>spriteSourceSize</key>
                <string>{81,150}</string>
                <key>textureRect</key>
                <string>{{305,582},{81,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PandaAtacked.png</string>
            <key>size</key>
            <string>{456,664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0507d6f447bee5069ed25ff2023daa02:6bc84a547a325e7177097d4da7f047e9:87983e60ab0bd527294034f1b1f17a83$</string>
            <key>textureFileName</key>
            <string>PandaAtacked.png</string>
        </dict>
    </dict>
</plist>
