<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,145}</string>
                <key>spriteSourceSize</key>
                <string>{150,149}</string>
                <key>textureRect</key>
                <string>{{449,153},{146,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bottomleft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{150,153}</string>
                <key>spriteSourceSize</key>
                <string>{150,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottomleft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{142,146}</string>
                <key>spriteSourceSize</key>
                <string>{150,156}</string>
                <key>textureRect</key>
                <string>{{594,1},{142,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottomright1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{148,153}</string>
                <key>spriteSourceSize</key>
                <string>{150,159}</string>
                <key>textureRect</key>
                <string>{{1,311},{148,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottomright2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{150,146}</string>
                <key>spriteSourceSize</key>
                <string>{150,156}</string>
                <key>textureRect</key>
                <string>{{301,153},{150,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{150,143}</string>
                <key>spriteSourceSize</key>
                <string>{150,159}</string>
                <key>textureRect</key>
                <string>{{445,305},{150,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{150,128}</string>
                <key>spriteSourceSize</key>
                <string>{150,156}</string>
                <key>textureRect</key>
                <string>{{720,301},{150,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{142,153}</string>
                <key>spriteSourceSize</key>
                <string>{150,159}</string>
                <key>textureRect</key>
                <string>{{301,305},{142,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{128,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,156}</string>
                <key>textureRect</key>
                <string>{{596,149},{128,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{146,153}</string>
                <key>spriteSourceSize</key>
                <string>{150,159}</string>
                <key>textureRect</key>
                <string>{{153,1},{146,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{128,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,156}</string>
                <key>textureRect</key>
                <string>{{590,301},{128,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{150,143}</string>
                <key>spriteSourceSize</key>
                <string>{150,159}</string>
                <key>textureRect</key>
                <string>{{449,1},{150,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>up2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{148,128}</string>
                <key>spriteSourceSize</key>
                <string>{150,156}</string>
                <key>textureRect</key>
                <string>{{726,149},{148,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upperleft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{150,153}</string>
                <key>spriteSourceSize</key>
                <string>{150,159}</string>
                <key>textureRect</key>
                <string>{{1,156},{150,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upperleft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{146,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,156}</string>
                <key>textureRect</key>
                <string>{{301,1},{146,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upperright1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{148,153}</string>
                <key>spriteSourceSize</key>
                <string>{150,159}</string>
                <key>textureRect</key>
                <string>{{151,311},{148,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upright2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{146,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,156}</string>
                <key>textureRect</key>
                <string>{{153,156},{146,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GreenPacman.png</string>
            <key>size</key>
            <string>{855,465}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fe694944ca9c0d32adce18ae6c7cb8b:1052ef0986497e0f63a767911d7563e2:68f0758a5f2af3f3485789ba5416151e$</string>
            <key>textureFileName</key>
            <string>GreenPacman.png</string>
        </dict>
    </dict>
</plist>
