<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Verification_code.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,54}</string>
                <key>spriteSourceSize</key>
                <string>{187,54}</string>
                <key>textureRect</key>
                <string>{{1,1},{187,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Verification_code_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,54}</string>
                <key>spriteSourceSize</key>
                <string>{187,54}</string>
                <key>textureRect</key>
                <string>{{190,1},{187,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{303,73}</string>
                <key>spriteSourceSize</key>
                <string>{313,97}</string>
                <key>textureRect</key>
                <string>{{525,1},{303,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,57}</string>
                <key>spriteSourceSize</key>
                <string>{144,57}</string>
                <key>textureRect</key>
                <string>{{379,1},{144,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1334}</string>
                <key>spriteSourceSize</key>
                <string>{750,1334}</string>
                <key>textureRect</key>
                <string>{{1,82},{750,1334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{293,79}</string>
                <key>spriteSourceSize</key>
                <string>{313,97}</string>
                <key>textureRect</key>
                <string>{{830,1},{293,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loginUI.png</string>
            <key>size</key>
            <string>{1336,833}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25cceb61a69dee015de36b2b333b3d9e:95249b667944bba1860927ee693f4ac4:e4b8325048109e3c9950577f7e75bb4d$</string>
            <key>textureFileName</key>
            <string>loginUI.png</string>
        </dict>
    </dict>
</plist>
