<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButtomLeft_run_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomLeft_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{1,153},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomLeft_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{125,1},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomLeft_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{1,305},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomLeft_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{125,153},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomLeft_run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{249,1},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomLeft_run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{125,305},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomLeft_run_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{249,153},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomLeft_run_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{373,1},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomLeft_run_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{249,305},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomLeft_run_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{373,153},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomLeft_run_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{497,1},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomRight_run_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{373,305},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomRight_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{497,153},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomRight_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{621,1},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomRight_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{497,305},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomRight_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{621,153},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomRight_run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{745,1},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomRight_run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{621,305},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomRight_run_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{745,153},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomRight_run_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{869,1},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomRight_run_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{745,305},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomRight_run_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{869,153},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtomRight_run_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,150}</string>
                <key>spriteSourceSize</key>
                <string>{122,150}</string>
                <key>textureRect</key>
                <string>{{869,305},{122,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HeroPandaBlueAttacked.png</string>
            <key>size</key>
            <string>{992,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4475f3091d72d67cdb0e04e76de4a8ae:773433f31116fec04bc57d6f5e01e8e1:f783f161e1f21ff74e5a34a1870f0613$</string>
            <key>textureFileName</key>
            <string>HeroPandaBlueAttacked.png</string>
        </dict>
    </dict>
</plist>
